
.top-bar.container
	%section.logo
		%h1 Wrecked.io

	%nav.nav
		%ul
			%li
				= link_to 'About'
			%li
				= link_to 'Contribute'

%main.container
	%section
		%h1 About

	%section
		%h1 Contribute
		%button{:type => 'submit'} Get the Form
