
%section
	%h1 Wrecked.io

%section
	%nav
		%ul
			%li
				= link_to 'About'
			%li
				= link_to 'Contribute'

%main
	%section
		%h1 About

	%section
		%h1 Contribute
		%button{:type => 'submit'} Get the Form
