
%h1 Crash.Data
%button.top-button{:type => 'submit', :'data-form-button' => ''} Get the Form

.container.inner-content{:'data-swap-container' => '' }
	%section
		.bubble
			%h2 Crash Data Collection
			%p The goal of this project is to collect data about unreported bicycle crashes.  This data will help augment PENNDOT's incomplete reporting.
			%button.button{:type => 'submit', :'data-form-button' => ''} Submit your crash
